.dialog-sca_h0004{width: 550px !important; height: 300px !important;}
.dialog-sca_h0004 #sca_h0001-cd_empresa{width: 20px; margin-left:2px;}
.dialog-sca_h0004 #sca_h0001-nm_empresa{width: 400px;}
.dialog-sca_h0004 #sca_h0001-st_empresa{width: 80px; margin-left:15px;}
.dialog-sca_h0004 #sca_h0001-lbl_in_logomarca{margin-left:73px;}
.dialog-sca_h0004 #sca_h0001-in_logomarca{width: 200px; margin-left:15px;}
.dialog-sca_h0004 #sca_h0001-cd_usu_cad_emp{}
.dialog-sca_h0004 #sca_h0001-dt_usu_cad_emp{}
.dialog-sca_h0004 #sca_h0001-cd_usu_alt_emp{}
.dialog-sca_h0004 #sca_h0001-dt_usu_alt_emp{}
.dialog-sca_h0004 #sca_h0001-th_cod{width: 60px;}
.dialog-sca_h0004 #sca_h0001-th_emp{width: 435px;}
