.dialog-scp_h0014{width: 800px !important;}

#scp_h0014 #scp_h0014-f0014 .linha label{
    display: inline-block;
    width: 100px;
}

#scp_h0014 #scp_h0014-f0014 .linha #scp_h0014-dt_atend{width: 60px;}
#scp_h0014 #scp_h0014-f0014 .linha #scp_h0014-cb_profs{width: 350px;}
#scp_h0014 #scp_h0014-f0014 .linha #scp_h0014-cb_espld_medc{width: 350px;}

#scp_h0014 #scp_h0014-tbl_result .grid_cabecalho table thead tr th:nth-child(1),
#scp_h0014 #scp_h0014-tbl_atend .grid_cabecalho table thead tr th:nth-child(1){width: 60px !important;}
#scp_h0014 #scp_h0014-tbl_result .grid_cabecalho table thead tr th:nth-child(2),
#scp_h0014 #scp_h0014-tbl_atend .grid_cabecalho table thead tr th:nth-child(2){width: 300px !important;}
#scp_h0014 #scp_h0014-tbl_result .grid_cabecalho table thead tr th:nth-child(3),
#scp_h0014 #scp_h0014-tbl_atend .grid_cabecalho table thead tr th:nth-child(3){width: 50px !important;}
#scp_h0014 #scp_h0014-tbl_result .grid_cabecalho table thead tr th:nth-child(4),
#scp_h0014 #scp_h0014-tbl_atend .grid_cabecalho table thead tr th:nth-child(4){width: 120px !important;}
#scp_h0014 #scp_h0014-tbl_result .grid_cabecalho table thead tr th:nth-child(5),
#scp_h0014 #scp_h0014-tbl_atend .grid_cabecalho table thead tr th:nth-child(5){width: 70px !important;}

#scp_h0014 #scp_h0014-tbl_result .grid_corpo table tbody tr td:nth-child(1),
#scp_h0014 #scp_h0014-tbl_atend .grid_corpo table tbody tr td:nth-child(1){width: 60px !important;}
#scp_h0014 #scp_h0014-tbl_result .grid_corpo table tbody tr td:nth-child(2),
#scp_h0014 #scp_h0014-tbl_atend .grid_corpo table tbody tr td:nth-child(2){width: 302px !important;}
#scp_h0014 #scp_h0014-tbl_result .grid_corpo table tbody tr td:nth-child(3),
#scp_h0014 #scp_h0014-tbl_atend .grid_corpo table tbody tr td:nth-child(3){width: 50px !important;}
#scp_h0014 #scp_h0014-tbl_result .grid_corpo table tbody tr td:nth-child(4),
#scp_h0014 #scp_h0014-tbl_atend .grid_corpo table tbody tr td:nth-child(4){width: 263px !important;}
#scp_h0014 #scp_h0014-tbl_result .grid_corpo table tbody tr td:nth-child(5),
#scp_h0014 #scp_h0014-tbl_atend .grid_corpo table tbody tr td:nth-child(5){width: 30px !important;}

.dialog-scp_h0014-div .div-modal .linha label:first-child{
    display: inline-block;
    width: 105px;
}

.dialog-scp_h0014-div .div-modal .linha span{
    display: inline-block;
    width: 200px;
    text-align: justify;
    padding: 3px;
    margin-top: 3px;
}

#scp_h0014 #scp_h0014-f0014 .linha fieldset fieldset .linha span{
    margin: 3px; 
    border-radius: 10px; 
    display: inline-block; 
    height: 20px; 
    width: 20px;
    margin-left: 20px;
}

#scp_ha014-fa014 label:first-child,
.dialog-scp_ha014 fieldset label:first-child{display: inline-block; width: 40px;}

#scp_ha014-fa014 #scp_fa014 .linha #fa014-lbl_dt_nasc_pac_aux,
#scp_ha014-fa014 #scp_fa014 .linha #fa014-lbl_cns_pac_aux{margin-left: 3px;}

#scp_ha014-fa014 #scp_fa014 .linha #fa014-tp_sexo_pac_aux,
.dialog-scp_ha014 fieldset .linha #scp_fa014-tp_sexo_pac{width: 80px;}

#scp_ha014-fa014 #scp_fa014 .linha #fa014-dt_nasc_pac_aux,
.dialog-scp_ha014 fieldset .linha #scp_fa014-dt_nasc_pac{width: 60px;}

#scp_ha014-fa014 #scp_fa014 .linha #fa014-nr_cns_pac_aux{width: 90px;}

#scp_ha014-fa014 #scp_fa014 .linha #fa014-nm_pac_aux,
#scp_ha014-fa014 #scp_fa014 .linha #fa014-nm_mae_pac_aux,
.dialog-scp_ha014 fieldset .linha #scp_fa014-nm_pac,
.dialog-scp_ha014 fieldset .linha #scp_fa014-nm_mae_pac{width: 350px}

.dialog-scp_ha014 fieldset .linha fieldset{width: 420px}