#scp_h0008 #scp_h0008-f0008 .linha label:first-child {
    display: inline-block;
    width: 105px;
    margin-left: 5px !important;
}

#scp_h0008 #scp_h0008-nr_matr_usu{width: 35px;}
#scp_h0008 #scp_h0008-nm_usuario{width: 350px;}
#scp_h0008 #scp_h0008-nr_prontuario{width: 70px;}

#scp_h0008 #scp_h0008-f0008 .linha .grid_cabecalho {border: 1px solid #DCDCDC; border-bottom: 0px;}
#scp_h0008 #scp_h0008-f0008 .linha .grid_cabecalho #th_pro{width: 90px;}
#scp_h0008 #scp_h0008-f0008 .linha .grid_cabecalho #th_pac{width: 220px;}
#scp_h0008 #scp_h0008-f0008 .linha .grid_cabecalho #th_sex{width: 50px;}
#scp_h0008 #scp_h0008-f0008 .linha .grid_cabecalho #th_dtn{width: 70px;}
#scp_h0008 #scp_h0008-f0008 .linha .grid_cabecalho #th_mae{width: 220px;}
#scp_h0008 #scp_h0008-f0008 .linha .grid_cabecalho #th_lnk{width: 20px;}

#scp_h0008 #scp_h0008-f0008 .linha #scp_h0008-tbl_result {margin: 0px; overflow: auto; height: 150px; max-height: 150px; margin-bottom: 10px;  border: 1px solid #DCDCDC;}
#scp_h0008 #scp_h0008-f0008 .linha #scp_h0008-tbl_result .td_pro{width: 90px;}
#scp_h0008 #scp_h0008-f0008 .linha #scp_h0008-tbl_result .td_pac{width: 220px;}
#scp_h0008 #scp_h0008-f0008 .linha #scp_h0008-tbl_result .td_sex{width: 50px;}
#scp_h0008 #scp_h0008-f0008 .linha #scp_h0008-tbl_result .td_dtn{width: 70px;}
#scp_h0008 #scp_h0008-f0008 .linha #scp_h0008-tbl_result .td_mae{width: 220px;}
#scp_h0008 #scp_h0008-f0008 .linha #scp_h0008-tbl_result .td_lnk{width: 20px;}

#scp_h0008 #scp_h0008-f0008 .linha #scp_h0008-tbl_result .td_lnk .link_ex {
    background: url("./public/img/glyphicons-halflings.png") center;
    background-position:-311px 2px !important;
    display: block; 
    width: 16px; 
    height: 16px;
}

#grid-busca-sca_c0002-ConsultaNomeUsuario{width: 400px !important}
#grid-busca-sca_c0002-ConsultaNomeUsuario .grid_cabecalho table thead tr th:nth-child(1){width: 45px;}
#grid-busca-sca_c0002-ConsultaNomeUsuario .grid_cabecalho table thead tr th:nth-child(2){width: 300px;}

#grid-busca-sca_c0002-ConsultaNomeUsuario .grid_corpo table tbody tr td:nth-child(1){width: 50px;}
#grid-busca-sca_c0002-ConsultaNomeUsuario .grid_corpo table tbody tr td:nth-child(2){width: 313px;}