* {margin:0; padding: 0; outline: none !important; -webkit-transition: border 0.1s linear}
body {font-family: Arial, serif; font-size: 14px; color: #333}
.bloco {width: 960px; margin: 0 auto}
.topo, .rodape {padding: 10px 0; }
.topo {border-bottom: 10px solid #555; }
.corpo {border-bottom: 1px solid #e3e3e3; padding: 10px 0; margin-top: 20px; padding-bottom: 30px}
.left {float: left}
.right {float: right}
.clear {clear: both}
.cinza {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}
.laranja {color: #ff6600; font-weight: bolder}
.rodape a {color: #666; text-decoration: none; }
.rodape a:hover {color: #333; text-decoration: underline; }
.iconerecurso {margin-right: 10px; display: inline-block; float: left; height: 40px; padding-top: 7px;}
.descricaorecurso {display: inline-block; height: 40px; padding-top: 3px }
.descricaorecurso strong {font-size: 15px; }
.logindireita {background: #f3f3f3; border: 1px solid #e9e9e9; padding: 20px; border-radius: 3px; font-size: 13px; font-weight: bold}
.logindireita input[type=text], .logindireita input[type=password] {padding: 7px 10px; border-radius: 3px; border: 1px solid #e3e3e3; width: 240px}
.logindireita input[type=text]:focus, .logindireita input[type=password]:focus {border: 1px solid #ff6600}
.corpo .bloco .left {width: 650px;}
.corpo .bloco .right {width: 300px; height: 200px;}
.recurso {margin-bottom: 20px}
.recursos {margin-top: 20px}
label {display: block; margin: 5px 0}
input[type=button]{background: #ff6600; color: white; font-size: 13px; font-weight: bold; padding: 7px 30px; border: none; border-radius: 3px}
input[type=button]:hover {box-shadow: 1px 1px 1px #222; cursor: pointer; }
input[type=button]:active {box-shadow: inset 1px 1px 1px #000}
.corpo a {color: #ff6600; text-decoration: none}
.corpo a:hover {color: #222; text-decoration: underline}
#login-msg{display: inline; color:red}
.icone {background: url(../../img/icons.png) no-repeat; width: 24px; height: 24px}
.icone1 {background-position: -203px -754px}
.icone2 {background-position: -399px -364px}
.icone3 {background-position: -634px -677px}
.icone4 {background-position: -8px -1963px}
.icone5 {background-position: -828px -1926px}

.valid_err{border: 1px solid red !important}