
#grid-busca-sga_c0019-ConsultaGuicheDeptoUsuario .grid_cabecalho #sga_c0019-ConsultaGuicheDeptoUsuario_1{width: 50px;}
#grid-busca-sga_c0019-ConsultaGuicheDeptoUsuario .grid_cabecalho #sga_c0019-ConsultaGuicheDeptoUsuario_2{width: 150px;}

#grid-busca-sga_c0019-ConsultaGuicheDeptoUsuario .grid_corpo .sga_c0019-ConsultaGuicheDeptoUsuario_1{width: 50px;}
#grid-busca-sga_c0019-ConsultaGuicheDeptoUsuario .grid_corpo .sga_c0019-ConsultaGuicheDeptoUsuario_2{width: 150px;}

#sga_h0019 #sga_h0019-f0019 .linha label:first-child{display: inline-block; width: 60px;}
#sga_h0019-cd_box{width: 20px;}
#sga_h0019-nm_box{width: 100px;}
#sga_h0019-cd_serv_painel{width: 200px;}

